@import '@styles/vars.scss';

.volume {
  display: flex;
  align-items: center;

  @media (min-width: 768px) {
    margin-left: auto;
  }

  &_icon {
    font-size: 20px;
    margin-right: 10px;
    color: $textAccent;
  }

  &_slider {
    margin: auto;
    -webkit-appearance: none;
    position: relative;
    overflow: hidden;
    height: 3px;
    width: 135px;
    cursor: pointer;
    border-radius: 0;
    &::-webkit-slider-runnable-track {
      height: 33px;
      background: $textLight;
    }
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      width: 0px;
      height: 3px;
      box-shadow: -100vw 0 0 100vw $textAccent;
    }
    &::-moz-range-track {
      height: 3px;
      background: $textLight;
    }
    &::-moz-range-thumb {
      background: transparent;
      width: 0px;
      height: 3px;
      box-shadow: -100vw 0 0 100vw $textAccent;
    }
    &:focus {
      outline: none;
    }
  }
}
