@import '@styles/vars.scss';

.song-item {
  border-bottom: 1px solid #eee;
  display: flex;
  padding: 10px 0;

  .active {
    color: $primary;
  }
  &_number {
    width: 50px;
    text-align: center;
    line-height: 1.4;
  }
  &_name {
    margin: 0;
    flex: 1;
  }
  &_duration {
    width: 50px;
    text-align: center;
  }
}
