@import '@styles/vars.scss';

.song-item {
  border-bottom: 1px solid $textLight;
  display: flex;
  height: 56px;
  align-items: center;

  &.active {
    color: $primary;
  }

  &_number {
    width: 50px;
    text-align: center;
  }
  &_name {
    margin: 0;
    flex: 1;
  }
  &_duration {
    width: 50px;
    text-align: center;
  }
}
