.visualizer {
  width: 100%;
  // max-width: 360px;
  align-self: flex-end;
  @media (min-width: 768px) {
    // max-width: 540px;
    margin-left: 20px;
  }
  // @media (min-width: 999px) {
  //   max-width: 500px;
  // }
  // @media (min-width: 1280px) {
  //   max-width: 650px;
  // }
}
