.layout {
  margin-top: 50px;

  &_content {
    margin-bottom: 20px;
  }

  @media (min-width: 999px) {
    display: flex;
    justify-content: space-between;
    &_content {
      width: 64%;
      margin-bottom: 0;
    }
    &_aside {
      width: 28%;
    }
  }
}
