.player-bar {
  &_progressbar {
    width: 100%;
  }

  &_content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;

    @media (min-width: 768px) {
      flex-wrap: nowrap;
      justify-content: unset;
    }
  }
}
